attrs==19.1.0
boto3==1.9.159
botocore==1.12.159
colorama==0.4.1
coloredlogs==10.0
docutils==0.14
future==0.17.1
humanfriendly==4.18
jmespath==0.9.4
parsedatetime==2.4
python-dateutil==2.8.0
pytz==2019.1
s3transfer==0.2.0
six==1.12.0
urllib3==1.25.3
